<footer>
    
       <div class = "row">
       		<div class = "col-md-7 col-md-offset-1">
       			<h4 class = "white-text-footer">Data from the Baltimore Open Data collection. The data can be found 
   				<a class = "about-text" href ="https://data.baltimorecity.gov/Culture-Arts/Baltimore-City-Murals-Project-1987-to-Present/zqh4-9ud5">here</a></h4>
       		</div>
       		<div class= "col-md-4">
       			<a href = "http://github.com/"><i class="fa fa-github fa-3x white-icon"></i></a>
   			</div>
       </div>
   
</footer>